body{
background-color: black;
color: beige;
}
    
.head{
    text-align: center;
}
h1,h2{
    font-style: bold;
    font-family: "Gill Sans",'Times New Roman', Times, serif;
    color: rgb(255, 238, 0);
}



.projects{
    
display:flex; flex-wrap:wrap;  
}
.project{
width: 5%;
margin: 10px;
padding: 20px 10px;
background: rgb(255, 221, 0); 
border-radius: 25%;
}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201); /* choose a color */
    display: block;
    margin: auto;
    }

